<h1>Medical.</h1>

<div id="affichage">
    <div id="users-area" *ngIf="users">
        <p>Utilisateur(s) du compte</p>
        <div class="profile" [routerLink]="['details/',user.id]" *ngFor="let user of users" (click)="showUrl(user.id)">
            <div class="profile-picture"></div>
            <span>{{user.nom}} {{user.prenom}}</span>
        </div>
    </div>
    
    <div id="assistant-area" *ngIf="assistants">
        <p>Assistant(s)</p>
        <div class="profile" routerLink="/utilisateurs/assistant/:id" *ngFor="let assistant of assistants">
            <div class="profile-picture"></div>
            <span>{{assistant.nom}} {{assistant.prenom}}</span>
        </div>
    </div>
</div>

<div id="button-container">
    <app-button-redirector routerLink="/utilisateurs/create">
        Ajouter un utilisateur
    </app-button-redirector>
    <app-button-redirector routerLink="/home">
        Retour
    </app-button-redirector>
</div>
