<div class="container">
    <form class="form" [formGroup]="medicForm">
        <div class="nom">
            <mat-form-field [attr.aria-label]="'Nom'">
                <input name="nom" matInput type="text" formControlName="nom" placeholder="Nom">
            </mat-form-field>
        </div>
        <div class="duree">
            <button type="button" (click)="openDureeFormDialog()">duree</button>
        </div>
        <div class="frequence">
            <button type="button" (click)="openFrequenceFormDialog()">frequence</button>
            <div *ngIf="frequenceData[0]">
                <div *ngFor='let freq of data'>
                    {{freq.choixFrequence}}
                </div>
            </div>
        </div>
        <div formArrayName="heures" *ngFor="let he of medicForm.controls.heures?.value; let i = index; trackBy: trackByFn">
            <mat-form-field [attr.aria-label]="'heure'" [formGroupName]="i">
                <input name="heure" matInput type="time" formControlName="heure" placeholder="heure de prise" required>
            </mat-form-field>
        </div>
        <button (click)="addHeures()">Ajouter heures</button>

        <div>
            <button (click)="ajouter()">Save</button>
        </div>
    </form>
</div>