<ion-content color="primary">
    <form [formGroup]="medicForm">

        <ion-text>
            <h1>Ajouter un médicament</h1>
        </ion-text>

        <ion-item>
            <ion-label><h1>Nom :</h1></ion-label>
            <ion-input name="nom" type="text" formControlName="nom"></ion-input>
        </ion-item>

        <ion-item (click)="openModalDureeForm()">
            <ion-label><h1>Durée :</h1></ion-label>
            <ion-card *ngIf="dureeDataDto.dateDebut!=null">
                <ion-card-content>
                    <ion-label>{{dureeDataDto.choixDuree}}</ion-label>
                    <ion-label>{{dureeDataDto.dateDebut | date : 'dd/MM/yyyy'}}</ion-label>
                    <ion-label *ngIf="choixDureeJusqueX()">DateFin = {{dureeDataDto.dateFin | date : 'dd/MM/yyyy'}}</ion-label>
                    <ion-label *ngIf="choixDureePendantX()">Nb = {{dureeDataDto.nbJour}}</ion-label>
                </ion-card-content>
            </ion-card>   
        </ion-item>
        <ion-item>
            <ion-label><h1>Frequence :</h1></ion-label>
            <ion-card>
                <ion-card-content class="frequence-info">
                    <ion-label>{{frequenceDataDto.choixFrequence}}</ion-label>

                    <ion-label *ngIf="choixFrequenceChaqueJoursTtsXHeures()">{{frequenceDataDto.heureDebut}}</ion-label>
                    <ion-label *ngIf="choixFrequenceChaqueJoursTtsXHeures()">{{frequenceDataDto.rappel}}</ion-label>
                    <ion-label *ngIf="choixFrequenceChaqueJoursTtsXHeures()">{{frequenceDataDto.heureFin}}</ion-label>

                    <ion-label *ngIf="choixFrequenceTtsxJours()">x = {{frequenceDataDto.x}} </ion-label>

                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursLundi()">Lundi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursMardi()">Mardi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursMercredi()">Mercredi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursJeudi()">Jeudi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursVendredi()">Vendredi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursSamedi()">Samedi</ion-label>
                    <ion-label *ngIf="choixFrequenceCertainsJours() && certainsJoursDimanche()">Dimanche</ion-label>

                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item id="heureDePrise">
            <div>
                <ion-text><h1>Heures :</h1></ion-text>
            </div>
            <div>
                <ion-card>
                <ion-card-content class="heures-form">
                    <ng-container *ngIf="!choixFrequenceChaqueJoursTtsXHeures()">

                        <ion-item class="ajouter-heures-button">
                            <ion-button (click)="addHeures()">Ajouter heures</ion-button>
                        </ion-item>

                        <ion-item class="ajouter-heure-form" formArrayName="heures"
                            *ngFor="let he of medicForm.controls.heures?.value; let i = index; trackBy: trackByFn">
                            <ion-item [formGroupName]="i">
                                <ion-label>Heure</ion-label>
                                <ion-datetime displayFormat="HH:mm" formControlName="heure"></ion-datetime>

                            </ion-item>
                        </ion-item>

                    </ng-container>
                </ion-card-content>
            </ion-card>
            </div>
            
        </ion-item>      
        <ion-button (click)="ajouter()" expand="full" size="large" color="success" routerLink="/medics">Ajouter</ion-button>
    </form>
    <div class="bottom">
        <ion-button expand="full" size="large" color="danger" routerLink="/medics">Retour</ion-button>
    </div>
</ion-content>