<!--Ajoutez vos boutons pour rediréger ici, ils seront retirer plus tard car ils servent uniquement pour le test de l'application-->
<app-button-redirector routerLink="/users">
    Vers /users
</app-button-redirector>

<app-button-redirector routerLink="/medics">
    Vers /medics
</app-button-redirector>

<app-button-redirector routerLink="/404">
    Vers /404
</app-button-redirector>

<app-button-redirector routerLink="/connexion">
    Vers /connexion
</app-button-redirector>

<app-button-redirector routerLink="/inscription">
    Vers /inscription
</app-button-redirector>
<app-button-redirector routerLink="/mdp_oublie">
    Vers /mdp_oublie
</app-button-redirector>



