<div class="container">
    <h2>Liste des médicaments</h2>

    <div class="medics">
        <div class="medic" *ngFor="let medic of medics">
            <p>ID : {{medic.id}}</p>
            <p>Nom : {{medic.nom}}</p>
            <p>duree dateDebut: {{medic.dureeDto.dateDebut | date : 'dd/MM/yyyy'}}</p>
            <p>duree dateFin: {{medic.dureeDto.dateFin | date : 'dd/MM/yyyy'}}</p>
            <p>freq : {{medic.frequenceDto.prises[0] | date : 'dd/MM/yyyy hh:mm'}}</p>
            <app-button-redirector [routerLink]="['/medics/update', medic.id]">
                Modifier
            </app-button-redirector>
        </div>
    </div>
</div>
<div>
    <app-button-redirector [routerLink]="'/medics/create'">
        ajouter medic
    </app-button-redirector>
</div>


<div class="button">
    <app-button-redirector routerLink="/medics">
        /medics
    </app-button-redirector>
    <app-button-redirector routerLink="/home">
        /home
    </app-button-redirector>
</div>