<section id="container">
    <form [formGroup]="inscriptionForm" (ngSubmit)="creerCompte()">
        <mat-card id="card">
            <section id="box1" class="box">
                <mat-card-title>Créer un compte</mat-card-title>
            </section>
            <section id="box2" class="box">
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="Saisir une adresse email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput placeholder="Saisir un mot de passe" formControlName="motDePasse">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input type="password" matInput placeholder="Saisir un mot de passe identique" formControlName="motDePasseConfirme">
                </mat-form-field>
            </section>
            <section id="box3" class="box">
                <button id="button1" class="button" mat-raised-button color="primary" type="submit">S'inscrire</button>
                <button id="button2" class="button" mat-raised-button type="button" routerLink="/connexion">Annuler</button>
            </section>
        </mat-card>
    </form>
</section>