<section id="container">
    <form [formGroup]="inscriptionForm" (ngSubmit)="creerCompte()">
        <ion-text>
            <p>Créer un compte</p>
        </ion-text>
        <ion-item>
            <ion-label>
                <h1>Email :</h1>
            </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Mot de passe :</h1>
            </ion-label>
            <ion-input type="password" formControlName="motDePasse"></ion-input>
        </ion-item>
        <ion-button expand="full" size="large" color="success" type="submit">S'inscrire</ion-button>
    </form>
</section>