<ion-content color="primary">
    <form [formGroup]="inscriptionForm" (ngSubmit)="creerCompte()">
        <ion-text>
            <p>
                Créer un compte
            </p>
        </ion-text>
        <ion-item>
            <ion-label>
                <h1>Email :</h1>
            </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Mot de passe :</h1>
            </ion-label>
            <ion-input type="password" formControlName="motDePasse"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Confirmer le mot de passe :</ion-label>
            <ion-input type="password" formControlName="motDePasseConfirme">
            </ion-input>
        </ion-item>

        <ion-button expand="full" size="large" color="success" type="submit">S'inscrire</ion-button>
        
    </form>
    <div class="bottom">
        <ion-button expand="full" size="large" color="danger" routerLink="/connexion">
            <ion-text>
                <h5>déjà un compte ?</h5>
                Se connecter
            </ion-text>
        </ion-button>
    </div>
</ion-content>