<ion-content color="primary">    
    <form [formGroup]="userProfile" (ngSubmit)="inscription()" name="newUserForm">
        <ion-text>
            <p>Nouvel utilisateur</p>
        </ion-text>
        <ion-item>
            <ion-label>
                <h1>Nom :</h1>
            </ion-label>
            <ion-input type="text" maxlength="100" required="true" formControlName="nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Prenom :</h1>
            </ion-label>
            <ion-input type="text" maxlength="100" required="true" formControlName="prenom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Anniversaire :</h1>
            </ion-label>
            <ion-datetime cancel-text="Annuler" done-text="Valider" required="true" displayFormat="DD/MM/YYYY" formControlName="dateNaissance"></ion-datetime>
        </ion-item>
        <ion-button color="success" expand="full" size="large" type="submit" ng-disabled="newUserForm.$invalid">Créer un utilisateur</ion-button>
    </form>
    <div class="bottom">
        <ion-button color="danger" expand="full" size="large" routerLink="/utilisateurs">Retour</ion-button>
    </div>
</ion-content>


