<ion-content class="content">
    <form class="form" [formGroup]="dureeForm" >
        <ion-item>
            <ion-label>Date de debut</ion-label>
            <ion-datetime displayFormat="DD:MM:YYYY" formControlName="dateDebut"></ion-datetime>
        </ion-item>

        <ion-radio-group formControlName="choixDuree">
            <ion-item *ngFor="let duree of durees">
                <ion-label>{{duree}}</ion-label>
                <ion-radio value="{{duree}}"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <ion-item class="classInput">
            <ng-container class="jusqueX" *ngIf="choixDureeJusqueX()">
                <form [formGroup]="dureeForm">
                    <ion-item>
                        <ion-label>Date de Fin : </ion-label>
                        <ion-datetime displayFormat="DD:MM:YYYY" formControlName="dateFin"></ion-datetime>
                    </ion-item>
                </form>
            </ng-container>

            <ng-container  class="pendantX" *ngIf="choixDureePendantX()">
                <form [formGroup]="dureeForm">
                    <ion-item>
                        <ion-label>Nombre de jours : </ion-label>
                        <ion-input type="number" formControlName="nbJour"></ion-input>
                    </ion-item>
                </form>
            </ng-container>
        </ion-item>

    </form>
    <ion-item class="buttons">
        <ion-button (click)="dismiss()">Annuler</ion-button>
        <ion-button (click)="dismissSave()">Save</ion-button>
    </ion-item>
</ion-content>