<ion-content color="primary">
    <form [formGroup]="connexionForm">
        <ion-text><p>Connexion</p></ion-text>
        <ion-item>
            <ion-label><h1>Email :</h1></ion-label>
            <ion-input required="true" type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label><h1>Mot de passe :</h1></ion-label>
            <ion-input required="true" type="password" formControlName="motDePasse"></ion-input>
        </ion-item>

        <ion-text id="link" routerLink="/mdp_oublie"><h2>Mot de passe oublié ?</h2></ion-text>

        <ion-button expand="full" size="large" color="success" type="submit" (click)="verifierCompteExiste()">Se
            connecter</ion-button>
        
    </form>
    <div class="bottom">
        <ion-button expand="full" size="large" color="danger" routerLink="/inscription">
            <ion-text>
                <h5>Pas de compte ?</h5>
                Créer un compte
            </ion-text>
        </ion-button>
    </div>
</ion-content>