<ion-content color="primary">
    
    <form [formGroup]="frequenceForm">
        <ion-radio-group formControlName="choixFrequence">
            <ion-item *ngFor="let frequence of frequences">
                <ion-label><h1>{{frequence}}</h1></ion-label>
                <ion-radio value="{{frequence}}"></ion-radio>
            </ion-item>
        </ion-radio-group>

    
        
        <form [formGroup]="frequenceForm" *ngIf="choixFrequenceChaqueJoursTtsXHeures()">
            <ion-item>
                <ion-label>Heure de Debut : </ion-label>
                <ion-datetime displayFormat="HH:mm" formControlName="heureDebut"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Rappel : </ion-label>
                <ion-datetime displayFormat="HH:mm" formControlName="rappel"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Heure de Fin : </ion-label>
                <ion-datetime displayFormat="HH:mm" formControlName="heureFin"></ion-datetime>
            </ion-item>
        </form>
       
           
            <ng-container *ngIf="choixFrequenceTtsxJours()">
                <form [formGroup]="frequenceForm">
                    <ion-label>Tous les :</ion-label>
                    <ion-input type="number" formControlName="x"></ion-input>
                </form>
            </ng-container>

            <ng-container *ngIf="choixFrequenceCertainsJours()">
                <form [formGroup]="frequenceForm">
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="lundi"></ion-checkbox>
                        <ion-label> : Lundi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="mardi"></ion-checkbox>
                        <ion-label> : Mardi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="mercredi"></ion-checkbox>
                        <ion-label> : Mercredi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="jeudi"></ion-checkbox>
                        <ion-label> : Jeudi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="vendredi"></ion-checkbox>
                        <ion-label> : Vendredi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="samedi"></ion-checkbox>
                        <ion-label> : Samedi</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox checked="true" color="dark" formControlName="dimanche"></ion-checkbox>
                        <ion-label> : Dimanche</ion-label>
                    </ion-item>
                    
                </form>
            </ng-container>
       
    </form>

    <ion-button expand="full" size="large" color="success" (click)="dismissSave()">Enregistrer</ion-button>
    <div class="bottom">
        <ion-button expand="full" size="large" color="danger" (click)="dismiss()">Retour</ion-button>
    </div>

</ion-content>