<ion-content color="primary">
    <form>
        <ion-text>
            <p>
                Récupérer un mot de passe
            </p>
        </ion-text>
        <ion-item>
            <ion-label><h1>Email :</h1></ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button expand="full" size="large" color="success" type="submit">Confirmer l'email</ion-button>
    </form>
    <div class="bottom">
        <ion-button expand="full" size="large" color="danger" routerLink="/connexion">Retour</ion-button>
    </div>
    
</ion-content>
